<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to the Message Service, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to user the message service,
      your username is: <%= @user.user_name %>.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for signing up!</p>
  </body>
</html>