<% if session[:user_id].blank? %>
	<h2 class="page-header">Welcome to the Message Service</h2>
<% else %>
	<h2 class="page-header">Welcome <%= User.find(session[:user_id]).first_name %></h2>
<% end %>

<p class="lead">
  This site allows you to send private and group messages to other users. 
  Please use the toolbar at the top to navigate between pages.
</p>
