
<h1 class="page-header">Welcome to the Message Service</h1>

<p class="lead">
  This site allows you to send private and group messages to other users. 
  Please use the toolbar at the top to navigate between pages.
</p>
